{% extends "template.html" %}
{% block conteudo %}

  <div class="page-header col-6 col-md-4 text-center mx-auto">
    <img src="../static/images/Editar.svg" alt="" class="m-4 rounded-0 col-10 col-md-8">
    <!-- <h1>{{ title }}</h1> -->
  </div>

      <form action="{{ url_for('processing_edit') }}" method="post" enctype="multipart/form-data">
        <!-- <input type="file" name="image" accept=".jpg"> -->
        <fieldset>
          <input type="hidden" name="id" value="{{ movie.id }}">
            {{ form.csrf_token() }}
          <div class="form-group m-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="form-group m-3">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
          </div>
          <div class="form-group m-3">
            {{ form.grade1.label(class="form-label") }}
            {{ form.grade1(class="form-control") }}
          </div>
          <div class="form-group m-3">
            {{ form.grade2.label(class="form-label") }}
            {{ form.grade2(class="form-control") }}
          </div>
          <div class="form-group m-3">
            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control") }}
          </div>
          {{ form.submit(class="btn c3 ms-3 mt-2 hover-c1") }}
          <a class="btn c3 mx-3 mt-2 hover-c1" href="{{ url_for('movie_index') }}">Voltar</a>
        </fieldset>
      </form>
    </div>
</body>
</html>
{% endblock %}