{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('processing_edit') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept=".jpg">
        <fieldset>
          <input type="hidden" name="id" value="{{ movie.id }}">
          {{ form.csrf_token() }}
          <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}  
          </div>
          <div class="form-group">
            {{ form.grade1.label(class="form-label") }}
            {{ form.grade1(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.grade2.label(class="form-label") }}
            {{ form.grade2(class="form-control") }}
          </div>
          {{ form.submit(class="btn btn-primary") }}
          <a class="btn btn-secondary" href="{{ url_for('index') }}">Voltar</a>
        </fieldset>
      </form>
    </div>
</body>
</html>
{% endblock %}