{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('processing_edit') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept=".jpg">
        <fieldset>
          <input type="hidden" name="id" value="{{ movie.id }}">
          <div class="form-group">
            <label for="movie">Filme</label>
            <input type="text" id="movie" name="name" class="form-control" value="{{ movie.name }}">
          </div>
          <div class="form-group">
            <label for="date">Visto?</label>
            <input type="text" id="date" name="date" class="form-control" value="{{ movie.date.strftime('%d/%m/%Y') }}">
          </div>
          <div class="form-group">
            <label for="grade1">Nota Lu</label>
            <input type="text" id="grade1" name="grade1" class="form-control" value="{{ movie.grade1 }}">
          </div>
          <div class="form-group">
            <label for="grade2">Nota Thi</label>
            <input type="text" id="grade2" name="grade2" class="form-control" value="{{ movie.grade2 }}">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Modificar</button>
          <a class="btn btn-primary" href="{{ url_for('index') }}">Voltar</a>
        </fieldset>
      </form>
    </div>
</body>
</html>
{% endblock %}