{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Filme</th>
                    <th>Visto?</th>
                    <th>Nota Lu</th>
                    <th>Nota Thi</th>
                    <th>Média</th>
                    <th>DP</th>
                </tr>
            </thead>
            <tbody>
                {%for movie in movies%}
                <tr>
                    <td>{{movie.name}}</td>
                    <td>{{movie.date if movie.date != '' else '-'}}</td>
                    <td>{{movie.grade1 if movie.date != '' else '-'}}</td>
                    <td>{{movie.grade2 if movie.date != '' else '-'}}</td>
                    <td>{{movie.avg if movie.date != '' else '-'}}</td>
                    <td>{{movie.sd if movie.date != '' else '-'}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}