{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Filme</th>
                    <th>Visto?</th>
                    <th>Nota Lu</th>
                    <th>Nota Thi</th>
                    <th>Média</th>
                    <th>DP</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for movie, calculation in movies%}
                <tr>
                    <td>{{movie.name}}</td>
                    <td>{{movie.date.strftime('%d/%m/%Y') if movie.date != None else '-'}}</td>
                    <td>{{movie.grade1 if movie.date != None else '-'}}</td>
                    <td>{{movie.grade2 if movie.date != None else '-'}}</td>
                    <td>{{calculation.avg if calculation.date != None else '-'}}</td>
                    <td>{{calculation.sd if calculation.date != None else '-'}}</td>
                    <td><a href="{{ url_for('edit', id=movie.id) }}">Editar</a></td>
                    <td><a href="{{ url_for('delete', id=movie.id) }}">Excluir</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}