{% extends "template.html" %}
{% block conteudo %}

        <div class="header-btns d-flex flex-column align-items-center">
            <div class="page-header col-6 col-md-4 text-center mx-auto">
                    <img src="../static/images/Diario_do_Cinema.svg" alt="" class="m-4 rounded-0 col-10 col-md-8"/>
            </div>
        </div>
            
        <div class="buttons-container d-flex justify-content-between">
            <div class="buttons mb-3">
                <a class="btn c3 hover-c1" href="{{ url_for('new') }}">Novo Filme</a>
                <a class="btn c3 mx-2 hover-c1" href="{{ url_for('to_watch') }}">Locadora</a>
            </div>
            <div class="buttons rigth flex">
                <div class="btn btn-none c3 mx-2 mb-4">Assistidos: <b>{{ movies_watched }}</b></div>
            </div>
        </div>

        <div class="table-container d-flex flex-column justify-content-center border-10px">
            <table>
                <thead class="thead-default c3">
                    <tr>
                        <th><span class="table-column-title m-1 ms-0 ps-3">Filme</span></th>
                        <th><span class="table-column-title m-1 d-flex justify-content-center">Visto?</span></th>
                        <th><span class="table-column-title m-1 d-flex justify-content-center">Nota Lu</span></th>
                        <th><span class="table-column-title m-1 d-flex justify-content-center">Nota Thi</span></th>
                        <th><span class="table-column-title m-1 d-flex justify-content-center">Média</span></th>
                        <th><span class="table-column-title m-1 d-flex justify-content-center">DP</span></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %} 
                        {% if loop.index is even %}
                            <tr style="background-color: #faf4e4;">
                        {% else %}
                            <tr style="background-color: #ede3b6;">
                        {% endif %} 

                        {%if movie.date%}
                                <td class="p-1 ps-3">{{movie.name}}</td>
                                <td class="text-center">{{movie.date.strftime('%d/%m/%Y')}}</td>
                                <td class="text-center">{{movie.grade1}}</td>
                                <td class="text-center">{{movie.grade2}}</td>
                                <td class="text-center">{{movie.avg}}</td>
                                <td class="text-center">{{movie.sd}}</td>
                                <!-- <td class="ps-4" style="background-color: var(--lt-c2);"><a class="btn c1 hover-c3" href="{{ url_for('edit', id=movie.id) }}">Editar</a></td>
                                <td style="background-color: var(--lt-c2);"><a class="btn c1 hover-c3" href="{{ url_for('delete', id=movie.id) }}">Excluir</a></td> -->
                                <td class="px-3"><a href="{{ url_for('edit', id=movie.id, next_page='movie_index') }}">Editar</a></td>
                                <td><a href="{{ url_for('delete', id=movie.id, next_page='movie_index') }}">Excluir</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}