{% extends "template.html" %}
{% block conteudo %}

  <div class="page-header center-title">
    <img src="../static/images/Novo_Filme.svg" alt="" class="locadora">
    <!-- <h1>{{ title }}</h1> -->
  </div>

      <form action="{{ url_for('processing_new') }}" method="post" enctype="multipart/form-data" class="form-style">
        <fieldset>
          {{ form.csrf_token() }}
          <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.grade1.label(class="form-label") }}
            {{ form.grade1(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.grade2.label(class="form-label") }}
            {{ form.grade2(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control") }}
          </div>
          {{ form.submit(class="btn c3") }}
          <a class="btn c3" href="{{ url_for('index') }}">Voltar</a>
        </fieldset>
      </form>
    </div>
</body>
</html>
{% endblock %}