{% extends "template.html" %}
{% block conteudo %}

        <a class="btn btn-primary" href="{{ url_for('index') }}">Voltar</a>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Filme</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for movie, calculation in movies%}
                    {%if not movie.date%}
                        <tr>
                            <td>{{movie.name}}</td>
                            <td><a href="{{ url_for('edit', id=movie.id) }}">Editar</a></td>
                            <td><a href="{{ url_for('delete', id=movie.id) }}">Excluir</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
{% endblock %}