.bg-navbar {
    background-color: var(--c2);
}

body {
    background-color: var(--lt-c2);
    overflow-x: hidden;
}


.c1 {background-color: var(--c1);}
.font-c1 {color: var(--c1);}
.hover-c1:hover {background-color: var(--c1);}

.c2 {background-color: var(--c2);}
.font-c2 {color: var(--c2);}
.hover-c2:hover {background-color: var(--c2);}

.c3 {background-color: var(--c3);}
.font-c3 {color: var(--c3);}
.hover-c3:hover {background-color: var(--c3);}

.c4 {background-color: var(--c4);}
.font-c4 {color: var(--c4);}

.c5 {background-color: var(--c5);}
.font-c5 {color: var(--c5);}

.c6 {background-color: var(--c6);}
.font-c6 {color: var(--c6);}

.c7 {background-color: var(--c7);}
.font-c7 {color: var(--c7);}

.img-logo {
    max-height: 60px;
}

.nav-item, .nav-link {
    border-radius: 10px;

}

.nav-item:hover, .nav-link:hover {
    color: var(--c1);
    background-color: var(--c3);
    border-radius: 10px;
}

.table-container {
    overflow-x: auto;
}

.table-column-title {
    font-size: 1.4rem;
}

.border-10px {
    border-radius: 10px;
}

.btn-none {
    cursor: none;
}

.btn-none:hover {
    cursor: default;
    background-color: var(--c3);
}