:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --c1: #FFE97D;
    --c2: #524242;
    --c3: #C1564F;
    --c4: #FE9891;
    --c5: #FECFCC;
    --c6: #65C4B0;
    --c7: #C5FDFD;
}